h1 {
    color: red;
}

p{
    color: blue;
}

#Primera-Noticia {
    color: aqua;
}

h2{
    color: green;
}

h3{
    color: orange;
}

#Segunda-Noticia {
    color: blueviolet;
}

#Tercera-Noticia {
    color: greenyellow;
}

#encabezado {
    color: magenta;
    font-size: 20pt;
}

